<div class = "nested-fields order-extra-fields tile">
  <div class="title">
    <%= f.label :quantity, f.object.extra.name %>
  </div>

  <%= f.hidden_field :extra_id %>
  <%= image_tag f.object.extra.image_url, class: "img-thumbnail", width: 100 %>

  <div class="actions">
    <button class="btn btn-danger minus-btn one-third">-</button>
    <%= f.number_field :quantity, class: "form-control quantity-field one-third", min: 0 %>
    <button class="btn btn-success plus-btn one-third">+</button>
  </div>
</div>
